html {
  height: 100vh;
  width: 100vw;
  border-style: none;
  margin: 0px;

}

body {
  background-color: #f2f1ef;
  width: 100%;
  height: 100%;
  padding: 0px;
  border-style: none;
  margin: 0px;

}

mark {
  background-color: #231f20 !important;
  color: #ffffff !important;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 ! important;
}

.col {
  width: 100%;
}



#menu-row {
  width: 100%;
  height: 100%;
  margin: 0;
}



/*HOMEPAGE********************************************************************/

#box-1 {
  background-color: #9edee8;
  width: 100%;
  height: 100%;
}

#box-2 {
  background-color: #9edee8;
  width: 100%;
  height: 100%;
}

#box-3 {
  background-color: #9edee8;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#box-4 {
  background-color: #9edee8;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#box-5 {
  background-color: #9edee8;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#box-6 {
  background-color: #9edee8;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

/*#box-7 {
  background-color: orange;
  width: 100%;
  height: 100%;
}

#box-8 {
  background-color: purple;
  width: 100%;
  height: 100%;
}*/


#fmp-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#fmp-thumb:hover  {
  opacity: 0.5;
}

#gw-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#gw-thumb:hover {
  opacity: 0.5;
}

#ar-photo-thumb {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  object-fit: cover;
  object-position: center;
}

#ar-photo-thumb:hover {
  opacity: 0.5;
}

#craggs-thumb {
  width: 100%;
  height: 100%;
  transform: scale(1.7);
  object-fit: cover;
  object-position: left;
}

#craggs-thumb:hover {
  opacity: 0.5;
}

#logos-thumb {
  width: 100%;
  height: 100%;
  transform: scale(1.7);
  object-fit: cover;
  object-position: left;
}

#logos-thumb:hover {
  opacity: 0.5;
}

#bypass-thumb {
  width: 100%;
  height: 100%;
  transform: scale(3);
  object-fit: cover;
  object-position: center;
}

#bypass-thumb:hover {
  opacity: 0.5;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  /*transform: scale(0.4);*/
}


#intro-text-box {
  position: absolute;
  top: 10%;
  left:51%;
  transform: translate(-50%);
  width: 50%;
}

#intro-text {
  text-align: left;
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

#main-section {
  position: relative;
  display: block;
  height: 100%;
}
/*FMP PAGE!**********************************************************************************/

#fmp-section-1 {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

#s1-row {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.bg-img-s1 {
  background-image: url("assets/fmp-home-01.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}


#back-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 48px;
  z-index: 8;
}

#fmp-video {
  position:absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

#title-fmp {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  z-index: 4;
}

#logo-fmp {
  position: absolute;
  left: 30%;
  top: 70px;
  z-index: 2;
  width: 680px;
  mix-blend-mode: darken;
}

#logo-blue-fmp {
  position: absolute;
  top: 140px;
  left: 40%;
  width: 680px;
  mix-blend-mode: darken;
  opacity: 0.6;
  z-index: 1;
}

#logo-pink-fmp {
  position: absolute;
  top: 170px;
  left: 20%;
  width: 680px;
  mix-blend-mode: darken;
  opacity: 0.6;
  z-index: 1;
}



/*FMP SECTION-2************************************************************/

#fmp-section-2 {
  background-color: #f2f1ef;
  position: relative;
  overflow: hidden;
}

/*#s2-row {
  overflow: hidden;
}*/

#fmp-s2-left {
  overflow: hidden;
}

#fmp-s2-right {
  overflow: hidden;
}

#project-desc-txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

#project-description {
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #000000;
}

#marat-bass {
  position: absolute;
  width: 100%;
}



/*FMP SECTION-3************************************************************/

#fmp-section-3 {
  background-color: #f2f1ef;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.bg-img-s3 {
  background-image: url("assets/lp-graphic.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#s3-row {
  height: 100%;
  padding: 0px;
  margin: 0px;
}


/*FMP SECTION-4*****************************************************************/
#fmp-section-4 {
  background-color: #f2f1ef;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

#emma-persona {
  position: absolute;
  width: 600px;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  mix-blend-mode: darken;
}

#gurpreet-persona {
  position: absolute;
  width: 600px;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  mix-blend-mode: darken;
}

#jimmy-persona {
  position: absolute;
  width: 600px;
  top: 380px;
  left: 50%;
  transform: translate(-50%);
  mix-blend-mode: darken;
}

#ray-persona {
  position: absolute;
  width: 600px;
  top: 380px;
  left: 50%;
  transform: translate(-50%);
  mix-blend-mode: darken;
}

/*SECTION-5*************************************************************/
#fmp-section-5 {
  background-color: #f2f1ef;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

#ray-story {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 500px;
  transform: translate(-50%);
  mix-blend-mode: darken;
}

#french-fries {
  position: absolute;
  height: 100%;
  opacity: 0.7;
}

/*SECTION-6************************************************************/

#fmp-section-6 {
  background-color: #f2f1ef;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: #000000;
}

#fmp-s6-left {
  overflow: hidden;
}

#fmp-s6-right {
  overflow: hidden;
}

#beta-xd-video {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform:translate(-50%,-50%);

}

#beta-mockup-description {
  position: absolute;
  left: 50%;
  top: 50% !important;
  transform: translate(-50%, -50%);
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #f2f1ef;
}


/*SECTION 7*******************************************************************/

#fmp-section-7 {
  background-color: #f2f1ef;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: #000000;
}

#fmp-s7-left {

}

#fmp-s7-right {
}


#feel-real-video {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%,-50%);
}

#feel-real-mockup-description {
  position: absolute;
  left: 50%;
  top: 50% !important;
  transform: translate(-50%,-50%);
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #f2f1ef;
}


/*MEDIA QUERIES!!!*****************************************************************************/
@media (min-width: 576px) {
  #fmp-user-journey {width: 600px;}
  #ff-logo {width: 150px;}
  #fmp-spec {top: 320px;}
  #promo {top: 40px; width: 300px;}
  #project-description {top: 200px; font-size: 0.7rem; line-height: 1rem;}
  #intro-text {font-size: 0.7rem; line-height: 1rem;}
  #emma-persona {width: 360px;}
  #gurpreet-persona {width: 360px;}
  #jimmy-persona {width: 360px; top: 220px;}
  #ray-persona {width: 360px; top: 220px;}
  #beta-xd-video {width: 300px;}
  #beta-mockup-description {font-size: 0.7rem; line-height: 1rem;}
  #feel-real-video {width: 300px;}
  #feel-real-mockup-description {font-size: 0.7rem; line-height: 1rem;}
  #ray-story {width: 300px; top: 10px;}
  .bg-img-s1 {background-attachment: scroll !important;}
  .bg-img-s3 {background-attachment: scroll !important;}
}




@media (min-width: 768px) {
  #fmp-user-journey {width: 1000px;}
  .bg-img-s1 {background-attachment: scroll !important;}
  .bg-img-s3 {background-attachment: scroll !important;}
}

@media (min-width: 1024px) {
  #ray-story {width: 500px; top: 20px;}
  #promo {top: 60px; width: 600px;}
  #project-description {top: 400px; font-size: 0.9rem; line-height: 1.5rem;}
  #emma-persona {width: 500px; top: 40px;}
  #gurpreet-persona {width: 500px; top: 40px;}
  #jimmy-persona {width: 500px; top: 380px;}
  #ray-persona {width: 500px; top: 380px;}
  #feel-real-video {width: 468px; height: 264px;}
  #beta-xd-video {width: 468px; height: 264px;}
  #beta-mockup-description {font-size: 0.8rem; line-height: 1.5rem;}
  #feel-real-mockup-description {font-size: 0.8rem; line-height: 1.5rem;}


}

@media (min-width: 1200px) {
  #fmp-user-journey {width: 1280px;}
  #ff-logo {width: 250px;}
  #fmp-spec {top: 250px;}
  #promo {top: 60px; width: 600px;}
  #project-description {top: 400px; font-size: 0.9rem; line-height: 1.5rem;}
  #intro-text {font-size: 0.8rem; line-height: 1.3rem;}
  #emma-persona {width: 600px; top: 40px;}
  #gurpreet-persona {width: 600px; top: 40px;}
  #jimmy-persona {width: 600px; top: 380px;}
  #ray-persona {width: 600px; top: 380px;}
  #beta-xd-video {width: 468px; height: 264px;}
  #feel-real-video {width: 468px; height: 264px;}
  #beta-mockup-description {font-size: 0.8rem; line-height: 1.5rem;}
  #feel-real-mockup-description {font-size: 0.8rem; line-height: 1.5rem;}
  #ray-story {width: 500px; top: 40px;}
  .bg-img-s1 {background-attachment: fixed !important;}
  .bg-img-s3 {background-attachment: fixed !important;}
}




/*GHOSTWALKS PROJECT!!******************************************************/
#gw-back-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 48px;
  z-index: 10;
}

#gw-section-1 {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

#title-gw {
  position: absolute;
  left: 50%;
  top: 50px;
  height: 100%;
  width: 100%;
  transform: translate(-50%);
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  z-index: 4;
}

#gw-s1-row {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.gw-bg-img-s1 {
  background-image: url("assets/gw-img-06.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gw-video {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  z-index: 5;
}


/*GW-SECTION-2***************************************************************/

#gw-section-2 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000000;
  overflow: visible;

}


#gw-logo {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
}

#gw-description {
  position: absolute;
  top: 260px;
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  color: #e7f6fd;
  letter-spacing: 0.2rem;
  text-align: center;
}

#gw-phone {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%);
  overflow: visible;
  width: 500px;
  z-index: 10;
}

/*GW-SECTION-3***************************************************************/

#gw-section-3 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

/*#gw-user-journey-1 {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
}*/

.gw-bg-img-s7 {
  background-image: url("assets/gw-img.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gw-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
}


/*GW-SECTION-4**********************************************************/
#gw-section-4 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

#gw-users-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*#gw-user-journey-2 {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
}*/

/*GW-SECTION-5**********************************************************/
#gw-section-5 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}


#gw-users-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*GW-SECTION-6**********************************************************/
#gw-section-6 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

#gw-user-journey-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}


/*GW-SECTION-7************************************************************/
#gw-section-7 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

#gw-s7-row {
  height: 100%;
}


#gw-user-journey-7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*GW-SECTION-8************************************************************/
#gw-section-8 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}


#gw-s8-row {
  height: 100%;
}

#gw-user-8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*GW-SECTION-9************************************************************/
#gw-section-9 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

#gw-user-journey-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*GW-SECTION-10************************************************************/
#gw-section-10 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

#gw-user-10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*GW-SECTION-11************************************************************/
#gw-section-11 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #333234;
}

#gw-user-journey-11 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*MEDIA QUERIES!!!********************************************************/
@media (min-width: 576px) {
  /*SECTION-1*/
  .gw-bg-img-s1 {background-attachment: scroll !important;}
  #gw-video {height: 234px; width: 132px;}
  #title-gw {top: 60px; font-size: 0.6rem;}
  /*SECTION-2*/
  #gw-phone {display: none;}
  /*SECTION-3*/
  .gw-bg-img-s7 {background-attachment: scroll !important;}
  #gw-ui {width: 600px;}
  /*SECTION-4*/
  #gw-users-1 {width: 500px;}
  /*SECTION-5*/
  #gw-users-2 {width: 500px;}
  /*SECTION-6*/
  #gw-user-journey-3 {width: 500px;}
  /*SECTION-7*/
  #gw-user-journey-7 {width: 500px;}
  /*SECTION-8*/
  #gw-user-8 {width: 500px;}
  /*SECTION-9*/
  #gw-user-journey-9 {width: 500px;}
  /*SECTION-10*/
  #gw-user-10 {width: 500px;}
  /*SECTION-11*/
  #gw-user-journey-11 {width: 500px;}

}

@media (min-width: 768px) {
  /*SECTION-1*/
  .gw-bg-img-s1 {background-attachment: scroll !important;}
  #gw-video {height: 234px; width: 132px;}
  #title-gw {top: 60px; font-size: 0.6rem;}
  /*SECTION-2*/
  #gw-phone {display: none;}
  /*SECTION-3*/
  .gw-bg-img-s7 {background-attachment: scroll !important;}
  #gw-ui {width: 600px;}
  /*SECTION-4*/
  #gw-users-1 {width: 500px;}
  /*SECTION-5*/
  #gw-users-2 {width: 500px;}
  /*SECTION-6*/
  #gw-user-journey-3 {width: 500px;}
  /*SECTION-7*/
  #gw-user-journey-7 {width: 500px;}
  /*SECTION-8*/
  #gw-user-8 {width: 500px;}
  /*SECTION-9*/
  #gw-user-journey-9 {width: 500px;}
  /*SECTION-10*/
  #gw-user-10 {width: 500px;}
  /*SECTION-11*/
  #gw-user-journey-11 {width: 500px;}
}

@media (min-width: 1024px) {
  /*SECTION-1*/
  .gw-bg-img-s1 {background-attachment: scroll !important;}
  #gw-video {height: 468px; width: 264px;}
  #title-gw {top: 60px; font-size: 0.6rem;}
  /*SECTION-2*/
  #gw-phone {display: none;}
  /*SECTION-3*/
  .gw-bg-img-s7 {background-attachment: scroll !important;}
  #gw-ui {width: 800px;}
  /*SECTION-4*/
  #gw-users-1 {width: 800px;}
  /*SECTION-5*/
  #gw-users-2 {width: 800px;}
  /*SECTION-6*/
  #gw-user-journey-3 {width: 800px;}
  /*SECTION-7*/
  #gw-user-journey-7 {width: 800px;}
  /*SECTION-8*/
  #gw-user-8 {width: 800px;}
  /*SECTION-9*/
  #gw-user-journey-9 {width: 800px;}
  /*SECTION-10*/
  #gw-user-10 {width: 800px;}
  /*SECTION-11*/
  #gw-user-journey-11 {width: 800px;}
}

@media (min-width: 1200px) {
  /*SECTION-1*/
  .gw-bg-img-s1 {background-attachment: fixed !important;}
  #gw-video {height: 468px; width: 264px;}
  #title-gw {top: 50px; font-size: 0.8rem;}
  /*SECTION-2*/
  #gw-phone {display: block;}
  /*SECTION-3*/
  .gw-bg-img-s7 {background-attachment: fixed !important;}
  #gw-ui {width: 1200px;}
  /*SECTION-4*/
  #gw-users-1 {width: 800px;}
  /*SECTION-5*/
  #gw-users-2 {width: 800px;}
  /*SECTION-6*/
  #gw-user-journey-3 {width: 800px;}
  /*SECTION-7*/
  #gw-user-journey-7 {width: 800px;}
  /*SECTION-8*/
  #gw-user-8 {width: 800px;}
  /*SECTION-9*/
  #gw-user-journey-9 {width: 800px;}
  /*SECTION-10*/
  #gw-user-10 {width: 800px;}
  /*SECTION-11*/
  #gw-user-journey-11 {width: 800px;}
}



/*AR PHOTOBOOTH PROJECT*******************************************************/

/*SECTION-1******************************************************************/
#ar-section-1 {
  height: 100%;
  width: 100%;
  position: relative;
}

#ar-s1-row {
  height: 100%;
}

.ar-bg-img-s1 {
  background-image: url("assets/ar-photo-bg.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ar-video {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  z-index: 5;
}

#title-ar {
  position: absolute;
  left: 50%;
  top: 50px;
  height: 100%;
  width: 100%;
  transform: translate(-50%);
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  z-index: 4;
}

/*SECTION-2*******************************************************************/
#ar-section-2 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #0d70b5;
}

.col {
  height: 100%;
}

#ar-s2-row {
  height: 100%;
}

#ar-aim-container {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  width: 55%;
}
.ar-bg-img-photo {
  background-image: url("assets/ar-background-1-01.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}
#ar-mockup {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  width: 350px;
}

#ar-aim {
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-align: center;
}

#product-vision {
  font-family: helvetica, sans-serif;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: #030032;
  letter-spacing: 0.2rem;
  text-align: center;
  font-style: italic;

}

/*SECTION-3*******************************************************************/
#ar-section-3 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

#ar-ui-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

#ar-ui-vid-v1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*SECTION-4*******************************************************************/
#ar-section-4 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

#ar-users-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*SECTION-5*******************************************************************/
#ar-section-5 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

#ar-users-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}


/*SECTION-6*******************************************************************/
#ar-section-6 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

#ar-users-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}


/*SECTION-7*******************************************************************/
#ar-section-7 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

#ar-users-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*SECTION-8*******************************************************************/
#ar-section-8 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

#ar-personas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}


/*SECTION-9*******************************************************************/
#ar-section-9 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}
#gradient-1 {
  background-image: linear-gradient(#030032, #0d70b5);
  height: 100%;
}

#ar-user-journey-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.ar-bg-persona-1 {
  background-image: url("assets/persona-bg-01.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

/*SECTION-10*******************************************************************/
#ar-section-10 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #030032;
}

/*#gradient-2 {
  background-image: linear-gradient(#0d70b5, #030032);
  height: 100%;
}*/

.ar-bg-persona-2 {
  background-image: url("assets/persona-bg-02.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

#ar-user-journey-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

/*MEDIA QUERIES!!!********************************************************/
@media (min-width: 576px) {
  /*SECTION-1*/
  .ar-bg-img-s1 {background-attachment: scroll !important;}
  #ar-video {height: 234px; width: 132px;}
  #title-ar {top: 60px; font-size: 0.6rem;}
  /*SECTION-2*/
  #ar-mockup {display: none;}
  #ar-aim-container {top: 40px;}
  .ar-bg-img-photo {background-attachment: scroll !important;}
  /*SECTION-3*/
  #ar-ui-1 {width: 250px;}
  #ar-ui-vid-v1 {height: 234px; width: 132px;}
  /*SECTION-4*/
  #ar-users-1 {width: 500px;}
  /*SECTION-5*/
  #ar-users-2 {width: 500px;}
  /*SECTION-6*/
  #ar-users-3 {width: 500px;}
  /*SECTION-7*/
  #ar-users-4 {width: 500px;}
  /*SECTION-8*/
  #ar-personas {width: 500px;}
  /*SECTION-9*/
  #ar-user-journey-1 {width: 600px;}
  .ar-bg-persona-1 {background-attachment: scroll !important;}
  /*SECTION-10*/
  #ar-user-journey-2 {width: 600px;}
  .ar-bg-persona-2 {background-attachment: scroll !important;}
}

@media (min-width: 768px) {
  /*SECTION-1*/
  .ar-bg-img-s1 {background-attachment: scroll !important;}
  #ar-video {height: 234px; width: 132px;}
  #title-ar {top: 60px; font-size: 0.6rem;}
  /*SECTION-2*/
  #ar-mockup {display: none;}
  #ar-aim-container {top: 40px;}
  .ar-bg-img-photo {background-attachment: scroll !important;}
  /*SECTION-3*/
  #ar-ui-1 {width: 250px;}
  #ar-ui-vid-v1 {height: 234px; width: 132px;}
  /*SECTION-4*/
  #ar-users-1 {width: 500px;}
  /*SECTION-5*/
  #ar-users-2 {width: 500px;}
  /*SECTION-6*/
  #ar-users-3 {width: 500px;}
  /*SECTION-7*/
  #ar-users-4 {width: 500px;}
  /*SECTION-8*/
  #ar-personas {width: 500px;}
  /*SECTION-9*/
  #ar-user-journey-1 {width: 600px;}
  .ar-bg-persona-1 {background-attachment: scroll !important;}
  /*SECTION-10*/
  #ar-user-journey-2 {width: 600px;}
  .ar-bg-persona-2 {background-attachment: scroll !important;}
}


@media (min-width: 1024px) {
  /*SECTION-1*/
  .ar-bg-img-s1 {background-attachment: scroll !important;}
  #ar-video {height: 468px; width: 264px;}
  #title-ar {top: 50px; font-size: 0.8rem;}
  /*SECTION-2*/
  #ar-mockup {display: none;}
  #ar-aim-container {top: 200px;}
  .ar-bg-img-photo {background-attachment: scroll !important;}
  /*SECTION-3*/
  #ar-ui-1 {width: 450px;}
  #ar-ui-vid-v1{height: 468px; width: 264px;}
  /*SECTION-4*/
  #ar-users-1 {width: 800px;}
  /*SECTION-5*/
  #ar-users-2 {width: 800px;}
  /*SECTION-6*/
  #ar-users-3 {width: 800px;}
  /*SECTION-7*/
  #ar-users-4 {width: 800px;}
  /*SECTION-8*/
  #ar-personas {width: 800px;}
  /*SECTION-9*/
  #ar-user-journey-1 {width: 800px;}
  .ar-bg-persona-1 {background-attachment: scroll !important;}
  /*SECTION-10*/
  #ar-user-journey-2 {width: 800px;}
  .ar-bg-persona-2 {background-attachment: scroll !important;}
}

@media (min-width: 1200px) {
  /*SECTION-1*/
  .ar-bg-img-s1 {background-attachment: fixed !important;}
  #ar-video {height: 468px; width: 264px;}
  #title-ar {top: 50px; font-size: 0.8rem;}
  /*SECTION-2*/
  #ar-mockup {display: block;}
  #ar-aim-container {top: 200px;}
  .ar-bg-img-photo {background-attachment: fixed !important;}
  /*SECTION-3*/
  #ar-ui-1 {width: 450px;}
  #ar-ui-vid-v1{height: 468px; width: 264px;}
  /*SECTION-4*/
  #ar-users-1 {width: 800px;}
  /*SECTION-5*/
  #ar-users-2 {width: 800px;}
  /*SECTION-6*/
  #ar-users-3 {width: 800px;}
  /*SECTION-7*/
  #ar-users-4 {width: 800px;}
  /*SECTION-8*/
  #ar-personas {width: 800px;}
  /*SECTION-9*/
  #ar-user-journey-1 {width: 800px;}
  .ar-bg-persona-1 {background-attachment: fixed !important;}
  /*SECTION-10*/
  #ar-user-journey-2 {width: 800px;}
  .ar-bg-persona-2 {background-attachment: fixed !important;}
}

@media screen and (orientation:portrait) {
  .rotate-prompt {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000000;
  }
  html {overflow-y: hidden;}
  #please-rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
#index-main-section {display: none;}
#fmp-section-1 {display: none;}
#fmp-section-2 {display: none;}
#fmp-section-3 {display: none;}
#fmp-section-4 {display: none;}
#fmp-section-5 {display: none;}
#fmp-section-6 {display: none;}
#fmp-section-7 {display: none;}
#gw-section-1 {display: none;}
#gw-section-2 {display: none;}
#gw-section-3 {display: none;}
#gw-section-4 {display: none;}
#gw-section-5 {display: none;}
#gw-section-6 {display: none;}
#gw-section-7 {display: none;}
#gw-section-8 {display: none;}
#gw-section-9 {display: none;}
#gw-section-10 {display: none;}
#gw-section-11 {display: none;}
#ar-section-1 {display: none;}
#ar-section-2 {display: none;}
#ar-section-3 {display: none;}
#ar-section-4 {display: none;}
#ar-section-5 {display: none;}
#ar-section-6 {display: none;}
#ar-section-7 {display: none;}
#ar-section-8 {display: none;}
#ar-section-9 {display: none;}
#ar-section-10 {display: none;}
#craggz-s1 {display: none;}
#craggz-s2 {display: none;}
#craggz-s3 {display: none;}
}

@media screen and (orientation:landscape) {
  .rotate-prompt {
    display: none;
  }
  html {overflow-y: scroll;}
}

/*#rotate-prompt {
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

#please-rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}*/



/* CRAGGS & PARALLEL CD*****************************************************************/

/*SECTION 1************************************************************************/

#craggz-s1 {
  position: relative;

}

#craggz-title {
  position: absolute;
  left: 50%;
  top: 50px;
  height: 100%;
  width: 100%;
  transform: translate(-50%);
  font-family: helvetica, sans-serif;
  line-height: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  z-index: 4;
}

#cd-artwork {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
}

#craggz-back-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 48px;
  z-index: 10;
}


/*SECTION 2*********************************************************************/

#craggz-s2 {
  position: relative;

}



.craggz-bg-s1 {
  background-image: url("assets/cd-pic.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*SECTION 3********************************************************************/

#craggz-s3 {
  position: relative;
  background-color: #ffffff;
}

#craggz-s3-right {
  background-color: #000000;
}

.craggz-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  opacity: 0;
}

#craggz-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
}
#craggz-description {
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
}


@media (min-width: 576px) {
  #craggz-title {display: none;}
  #cd-artwork {width: 300px;}
  .craggz-bg-s1 {background-attachment: scroll;}
  .craggz-alt {width: 250px;}
  #craggz-description {line-height: 1.3rem; font-size: 0.6rem;}
  #craggz-text-box {width: 60%;}

@media (min-width: 768px) {
  #craggz-title {display: none;}
  #cd-artwork {width: 300px;}
  .craggz-bg-s1 {background-attachment: scroll;}
  .craggz-alt {width: 250px;}
  #craggz-description {line-height: 1.3rem; font-size: 0.6rem;}
  #craggz-text-box {width: 60%;}
}

@media (min-width: 1024px) {
  #craggz-title {display: block; top: 50px;}
  #cd-artwork {width: 400px;}
  .craggz-bg-s1 {background-attachment: fixed;}
  .craggz-alt {width: 400px;}
  #craggz-description {line-height: 1.5rem; font-size: 0.8rem;}
  #craggz-text-box {width: 40%;}
}

@media (min-width: 1200px) {
  #craggz-title {display: block; top: 50px;}
  #cd-artwork {width: 400px;}
  .craggz-bg-s1 {background-attachment: fixed;}
  .craggz-alt {width: 400px;}
  #craggz-description {line-height: 1.5rem; font-size: 0.8rem;}
  #craggz-text-box {width: 40%;}
}





/*LOGOS PAGE!********************************************************************/

#logos-s1 {
  position: relative;
}

.logos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  opacity: 0;
}

#logos-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
}

#logos-description {
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

#logos-back-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 48px;
  z-index: 10;
}

#logos-right {
  background-color: #000000;
}

/*VARIOUS PAGE!***************************************************************/

#various-s1 {
  position: relative;
}

#various-left {
  overflow: hidden;
  position: relative;
}

#various-right {
  background-color: #000000;
}

#bypass-mockup {
  position: absolute;
  height: 100%;
}

#paradise-mockup {
  position: absolute;
  height: 100%;
}

#indigo-front {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
}

#oswald-mockup {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;

}

#h-i-mockup {
    position: absolute;
    height: 100%;
    left: -20%;
}

#alvinos-mockup {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

#social {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.various {
  opacity: 0;
}

#various-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
}

#various-description {
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

@media (min-width: 576px) {
  #indigo-front {width: 200px;}
  #social {width: 200px;}

}

@media (min-width: 768px) {
  #indigo-front {width: 200px;}
  #social {width: 200px;}
}

@media (min-width: 1024px) {
  #indigo-front {width: 300px;}
  #social{width: 430px;}

}

@media (min-width: 1200px) {
  #indigo-front {width: 300px;}
  #social{width: 430px;}
}
